--TRUY VAN GOM NHOM
---CAU 1

SELECT TENDA, SUM(THOIGIAN) AS TONGSOGIOLAM
FROM NHANVIEN, PHANCONG, DEAN
WHERE MADA = SODA
AND		MA_NVIEN = MANV
GROUP BY TENDA

---CAU 2
SELECT HONV, TENNV, COUNT(TN.MA_NVIEN) AS SOTHANNHAN
FROM THANNHAN TN, NHANVIEN 
WHERE TN.MA_NVIEN = MANV
GROUP BY HONV, TENNV

---CAU 3
SELECT TENPHG, AVG(LUONG) AS LUONGTB
FROM PHONGBAN, NHANVIEN
WHERE MAPHG = PHG
GROUP BY TENPHG

---CAU 4
SELECT * FROM NHANVIEN
SELECT AVG(LUONG) AS  LUONGTBNVNU
FROM NHANVIEN
WHERE PHAI = 'Nu'
---CAU 5
SELECT TENPHG, COUNT(MANV) AS SOLUONGNHANVIENPB
FROM PHONGBAN, NHANVIEN
WHERE MAPHG = PHG
GROUP BY TENPHG
HAVING AVG(LUONG) > 30000

--TRUY VAN LONG
---CAU 1
SELECT SODA
FROM PHANCONG , NHANVIEN
WHERE MANV = MA_NVIEN
AND HONV = 'Dinh'
UNION
SELECT MADA
FROM DEAN, PHONGBAN, NHANVIEN
WHERE PHG = MAPHG
AND MAPHG = PHONG
AND HONV = 'Dinh'
---CAU 2
SELECT HONV, TENLOT, TENNV, COUNT(MA_NVIEN) AS SOTHANNHAN
FROM  NHANVIEN, THANNHAN
WHERE MANV = MA_NVIEN
GROUP BY HONV,TENLOT,TENNV
HAVING COUNT(MA_NVIEN) > 2

---CAU 3
SELECT HONV, TENLOT, TENNV
FROM NHANVIEN
WHERE MANV NOT IN (SELECT MA_NVIEN
				   FROM THANNHAN
				   WHERE MANV = MA_NVIEN)

---CAU 4

SELECT HONV, TENLOT, TENNV
FROM NHANVIEN
WHERE MANV IN (SELECT MA_NVIEN FROM THANNHAN)
AND MANV IN(SELECT TRPHG FROM PHONGBAN)

---CAU 5
SELECT * FROM NHANVIEN
SELECT * FROM THANNHAN
SELECT * FROM PHONGBAN
SELECT HONV, TENLOT, TENNV
FROM NHANVIEN
WHERE NOT EXISTS (SELECT * FROM THANNHAN WHERE MANV = MA_NVIEN)

---CAU 6
SELECT HONV, TENLOT, TENNV
FROM NHANVIEN
WHERE LUONG > (SELECT AVG(LUONG)
				FROM NHANVIEN, PHONGBAN 
				WHERE PHG = MAPHG
				AND TENPHG = 'Nghien cuu')
				
---CAU 7
SELECT * FROM PHONGBAN
SELECT * FROM NHANVIEN
SELECT TRPHG, COUNT(N1.MANV), N2.TENNV
FROM PHONGBAN, NHANVIEN N1, NHANVIEN N2
WHERE  TRPHG = N2.MANV
AND N1.PHG = MAPHG
GROUP BY  TRPHG, N2.TENNV
HAVING COUNT(N1.MANV) >=ALL(SELECT COUNT(MANV)
					FROM NHANVIEN, PHONGBAN
					WHERE PHG = MAPHG
					GROUP BY TENPHG
					)
---CAU 8
SELECT * FROM DEAN
SELECT * FROM PHANCONG
SELECT * FROM NHANVIEN
SELECT HONV, TENLOT, TENNV, DCHI
FROM NHANVIEN, DEAN, PHANCONG
WHERE MADA = SODA
AND MANV = MA_NVIEN






---BT Quản lý giáo vụ
---CAU 14
SELECT GV.MAGV, GV.HOTEN, GD.MAMH
FROM GIAOVIEN GV, GIANGDAY GD
WHERE GV.MAGV = GD.MAGV

SELECT GV.MAGV, GV.HOTEN, MH.MAMH
FROM GIAOVIEN GV, KHOA K, MONHOC MH
WHERE GV.MAKHOA = K.MAKHOA
AND MH.MAKHOA  = GV.MAKHOA